<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>social_center_front</title>
    <link href=/static/css/app.38c330f62d48672e6858e382755d55ba.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.13eec1a3b928ca66cb2c.js></script>
<script type=text/javascript src=/static/js/app.963d4e100b31889fb3d1.js></script>
</body>
</html>