<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>social_center_front</title>
    <link href=/static/css/app.d8375940a70d558424f3c2ba100a7a54.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.13eec1a3b928ca66cb2c.js></script>
<script type=text/javascript src=/static/js/app.61baec3d595dcf7131b7.js></script>
</body>
</html>